  <h1>These are your butterflies:</h1>
  <% @butterflies.each do |row| %>
<div class="row">
      <div class="span3"><%=row['name'] %></div>
      <div class="span3"><%=row['family'] %></div>
      <div class="span3"><img src ="<%=row['photo'] %>"></div>




      <form method='post' action='/butterflies/<%= bug['id'] %>'>
        <button>Delete</button>
      </form>
</section>

 </div>
     <hr>
      <% end %>


