<!doctype html?>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="/style.css">
<title>Butterflies</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/new">Add a new butterfly</a></li>

      <% @famillies.each do |row| %>

      <li>
        <a href='/butterflies/<%= row['family'] %>'>
         <%= row['family'] %>
       </a>
      </li>


<% end %>

</ul>

  </nav>

  <%= yield %>


</body>
</html>